<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/inventory">
    <title>Shopping Removed</title>
  </head>
  <body>
    <p>Standalone shopping page removed. Redirecting to products...</p>
    <p><a href="/inventory">Click here if you are not redirected</a></p>
  </body>
</html>
